 .u-section-1 {
  background-image: linear-gradient(to right, #ff0000, black);
}

.u-section-1 .u-sheet-1 {
  min-height: 697px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  line-height: 0.7;
  text-shadow: 0px 1px 8px rgba(150,31,31,1);
  margin: 257px auto 0 415px;
}

.u-section-1 .u-image-1 {
  width: 56px;
  height: 56px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -53px auto 0 350px;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: -3px auto 0;
}

.u-section-1 .u-btn-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  letter-spacing: 0px;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 45px auto 0 294px;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  letter-spacing: 0px;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: -22px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  letter-spacing: 0px;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: -23px 355px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 46px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 342px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    margin-top: 20px;
  }

  .u-section-1 .u-btn-1 {
    border-style: solid;
    margin-left: 94px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 155px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 262px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 197px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 124px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 284px;
  }
} .u-section-2 {
  background-image: linear-gradient(to right, #ff0000, #000000);
}

.u-section-2 .u-sheet-1 {
  min-height: 1103px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  line-height: 0.7;
  text-shadow: 0px 1px 8px rgba(150,31,31,1);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 43px 23px 0;
}

.u-section-2 .u-image-1 {
  width: 142px;
  height: 142px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: url("images/unsecured1.png");
  background-position: 50% 50%;
  margin: 49px auto 0 20px;
}

.u-section-2 .u-text-2 {
  line-height: 0.7;
  text-shadow: 0px 1px 8px rgba(150,31,31,1);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3.75rem;
  margin: -146px 390px 0 176px;
}

.u-section-2 .u-text-3 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  margin: 7px 643px 0 176px;
}

.u-section-2 .u-text-4 {
  line-height: 0.7;
  text-shadow: 0px 1px 8px rgba(150,31,31,1);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3.75rem;
  margin: 24px 390px 0 176px;
}

.u-section-2 .u-image-2 {
  width: 146px;
  height: 146px;
  background-image: url("images/dangerzone2.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -42px auto 0 20px;
}

.u-section-2 .u-text-5 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  margin: -96px 643px 0 176px;
}

.u-section-2 .u-text-6 {
  line-height: 0.7;
  text-shadow: 0px 1px 8px rgba(150,31,31,1);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3.75rem;
  margin: 49px 339px 0 176px;
}

.u-section-2 .u-image-3 {
  width: 146px;
  height: 146px;
  background-image: url("images/discord_icon.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -35px auto 0 18px;
}

.u-section-2 .u-text-7 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  margin: -105px 643px 0 176px;
}

.u-section-2 .u-text-8 {
  line-height: 0.7;
  text-shadow: 0px 1px 8px rgba(150,31,31,1);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3.75rem;
  margin: 59px 339px 0 176px;
}

.u-section-2 .u-image-4 {
  width: 146px;
  height: 146px;
  background-image: url("images/bedbombo.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -35px auto 0 18px;
}

.u-section-2 .u-text-9 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  margin: -105px 643px 0 176px;
}

.u-section-2 .u-text-10 {
  line-height: 0.7;
  text-shadow: 0px 1px 8px rgba(150,31,31,1);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3.75rem;
  margin: 59px 339px 0 176px;
}

.u-section-2 .u-image-5 {
  width: 146px;
  height: 146px;
  background-image: url("images/gunsbox.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -35px auto 0 18px;
}

.u-section-2 .u-text-11 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  margin: -105px 643px 60px 176px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-right: 290px;
    margin-left: 76px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 543px;
    margin-left: 76px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 290px;
    margin-left: 76px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 20px;
    margin-right: 543px;
    margin-left: 76px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 239px;
    margin-left: 76px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 20px;
    margin-right: 543px;
    margin-left: 76px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 239px;
    margin-left: 76px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 20px;
    margin-right: 543px;
    margin-left: 76px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 239px;
    margin-left: 76px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 20px;
    margin-right: 543px;
    margin-left: 76px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 146px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 399px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 146px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 399px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 95px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 399px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 95px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 399px;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 95px;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 399px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 219px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 219px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 219px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 219px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 219px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-3 {
    margin-right: 19px;
  }

  .u-section-2 .u-text-4 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-5 {
    margin-right: 19px;
  }

  .u-section-2 .u-text-6 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-7 {
    margin-right: 19px;
  }

  .u-section-2 .u-text-8 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-9 {
    margin-right: 19px;
  }

  .u-section-2 .u-text-10 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-11 {
    margin-right: 19px;
  }
} .u-section-3 {
  background-image: linear-gradient(to right, #ff0000, #000000);
}

.u-section-3 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3 .u-text-1 {
  line-height: 0.7;
  text-shadow: 0px 1px 8px rgba(150,31,31,1);
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 19px 41px 0;
}

.u-section-3 .u-list-1 {
  width: 342px;
  margin: 123px auto 60px;
}

.u-section-3 .u-repeater-1 {
  min-height: 50px;
  grid-auto-columns: calc(33.3333% - 3.33333px);
  grid-template-columns: calc(33.3333% - 3.33333px) calc(33.3333% - 3.33333px) calc(33.3333% - 3.33333px);
  grid-gap: 5px 5px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px 7px;
}

.u-section-3 .u-btn-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-3 .u-icon-1 {
  font-size: 1.2em;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px 7px;
}

.u-section-3 .u-btn-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-3 .u-icon-2 {
  font-size: 1.2em;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px 7px;
}

.u-section-3 .u-btn-3 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-3 .u-icon-3 {
  font-size: 1.2em;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-scale: 1;
    margin-right: 0;
    margin-left: 0;
    width: 905px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 3.33333px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 3.33333px));
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 157px;
    grid-auto-columns: calc(50% - 2.4999975px);
    grid-template-columns: repeat(2, calc(50% - 2.4999975px));
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}